{% extends 'polls/base.html' %}
{% load i18n %}
{% block content %}
</style>
    <div>
        <button>Buy now</button>
        <iframe id="myiFrame" width="100%" height="500px" src="about:blank" data-src="{{ pesapal_url }}"></iframe>
    </div>

{% endblock %}
{% block extra_js%}

<script>
  $(document).ready(function() {
    var iframe = $("#myiFrame");
    iframe.hide()
    $("button").click(function(){
      iframe.show()
      iframe.attr("src", iframe.data("src")); 
    });
  })
</script>

{% endblock%}